@page "/encoding/html/encode"
@using DotnetHelp.DevTools.Shared
@using System.Net

<PageTitle>Html Encode</PageTitle>

<DnhHeader Title="Encoding"
			SubTitle="Html Encode"
			Details=@(new List<string> {
			$"Encode a string into a Html encoded string"
			}) />

<DnhSection>
	<DnhForm OnSubmit="OnSubmit" Text="Encode">
		<DnhTextArea Label="Input" @bind-Value="_request" />
	</DnhForm>
</DnhSection>

@if (_response is not null)
{
	<DnhSection Title="Result">
		<DnhResult>
			<p>@_response</p>
		</DnhResult>
	</DnhSection>
}

@code {
	private string? _request;
	private string? _response;

	private void OnSubmit()
	{
		if (!string.IsNullOrWhiteSpace(_request))
		{
			_response = WebUtility.HtmlEncode(_request);
			StateHasChanged();
		}
	}
}