@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation

<div class="absolute z-20 top-0 inset-x-0 flex justify-center overflow-hidden pointer-events-none">
	<div class="w-[108rem] flex-none flex justify-end">
		<img src="./bg-lg.png" alt="" class="w-[90rem] flex-none max-w-none hidden dark:block" decoding="async">
	</div>
</div>

<div class="sticky top-0 z-30 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06] bg-white/95 supports-backdrop-blur:bg-white/60 dark:bg-transparent">
	<div class="max-w-8xl mx-auto">
		<div class="py-4 border-b border-slate-900/10 lg:px-8 lg:border-0 dark:border-slate-300/10 mx-4 lg:mx-0">
			<div class="relative flex gap-4 items-center">
				<div class="flex-grow"><DnhLogo /></div>
				<DnhClock />
				<DnhApiHealth />
				<AccessControl />
			</div>
		</div>
	</div>
</div>

<div class="overflow-hidden">
	<div class="max-w-8xl mx-auto px-4 sm:px-6 md:px-8">

		<div class="hidden lg:block fixed z-20 inset-0 top-[4.2rem] left-[max(0px,calc(50%-45rem))] right-auto w-[19rem] pb-10 pl-8 pr-6 overflow-y-auto border-r dark:border-slate-50/[0.06]">
			<NavMenu OnViewSearch="OnViewSearch" />
		</div>

		<div class="lg:pl-[19.5rem]">
			<main class="min-h-96 max-w-3xl mx-auto relative z-20 pt-10 xl:max-w-none">
				@Body
			</main>
			<footer class="text-sm leading-6 mt-16">
				<div class="pt-10 pb-28 border-t border-slate-200 sm:flex justify-between text-slate-500 dark:border-slate-200/5">
					<div class="mb-6 sm:mb-0 sm:flex">
						<p>Copyright © @DateTimeOffset.Now.Year DotNetHelp.</p>
					</div>
					<div class="flex space-x-10 text-slate-400 dark:text-slate-500">
						<a href="https://github.com/james-r-parker/tools" class="hover:text-slate-500 dark:hover:text-slate-400">
							<span class="sr-only">GitHub</span>
							<svg width="25" height="24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.846 0c-6.63 0-12 5.506-12 12.303 0 5.445 3.435 10.043 8.205 11.674.6.107.825-.262.825-.585 0-.292-.015-1.261-.015-2.291-3.015.569-3.795-.754-4.035-1.446-.135-.354-.72-1.446-1.23-1.738-.42-.23-1.02-.8-.015-.815.945-.015 1.62.892 1.845 1.261 1.08 1.86 2.805 1.338 3.495 1.015.105-.8.42-1.338.765-1.645-2.67-.308-5.46-1.37-5.46-6.075 0-1.338.465-2.446 1.23-3.307-.12-.308-.54-1.569.12-3.26 0 0 1.005-.323 3.3 1.26.96-.276 1.98-.415 3-.415s2.04.139 3 .416c2.295-1.6 3.3-1.261 3.3-1.261.66 1.691.24 2.952.12 3.26.765.861 1.23 1.953 1.23 3.307 0 4.721-2.805 5.767-5.475 6.075.435.384.81 1.122.81 2.276 0 1.645-.015 2.968-.015 3.383 0 .323.225.707.825.585a12.047 12.047 0 0 0 5.919-4.489 12.537 12.537 0 0 0 2.256-7.184c0-6.798-5.37-12.304-12-12.304Z"></path></svg>
						</a>
					</div>
				</div>
			</footer>
		</div>

	</div>
</div>

@if (_searching)
{
	<Search OnCloseSearch="OnCloseSearch" />
}

@code {
	private bool _searching = false;

	private void OnCloseSearch()
	{
		_searching = false;
	}

	private void OnViewSearch()
	{
		_searching = true;
	}
}