<div class="">
    <div class="">
        <a class="" href="">DotNetHelp</a>
    </div>
</div>

<div class="">
    <nav class="flex-col">
        <div class="">
            <NavLink class="" href="">
                <span class=""></span> Home
            </NavLink>
        </div>
        <div class="">
            <NavLink class="" href="requests">
                <span class=""></span> Requests
            </NavLink>
        </div>
        <div class="">
            <NavLink class="" href="base64">
                <span class=""></span> Base64
            </NavLink>
        </div>
    </nav>
</div>

@code {
}