@page "/encoding/base64/decode"
@inject IJSRuntime JSRuntime
@using Encoding = System.Text.Encoding

<PageTitle>Base64 Decode</PageTitle>

<DnhHeader Title="Encoding"
			SubTitle="Base64 Decode"
			Details=@(new List<string> {
			$"Convert a base64 encoded string into a readable string."
			}) />


<DnhSection>
	<DnhForm OnSubmit="OnSubmit" Text="Decode">
		<DnhTextArea Label="Input" @bind-Value="_request" @ref="_focusElement" />
	</DnhForm>
</DnhSection>


@if (_response is not null)
{
	<DnhSection Title="Result">

		<DnhResult OnCopy="OnCopy">
			<p>@_response</p>
		</DnhResult>

	</DnhSection>
}


@code {
	private DnhTextArea? _focusElement;
	private string? _request;
	private string? _response;

	private void OnSubmit()
	{
		if (!string.IsNullOrWhiteSpace(_request))
		{
			_response = Encoding.UTF8.GetString(Convert.FromBase64String(_request));
			StateHasChanged();
		}
	}

	private async Task OnCopy()
	{
		if (_response is not null)
		{
			await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", _response);
		}
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && _focusElement is not null)
		{
			await _focusElement.Element.FocusAsync();
		}
	}
}