@page "/encoding/base64/decode"
@using Encoding = System.Text.Encoding

<PageTitle>Base64 Decode</PageTitle>

<DnhHeader Title="Encoding"
			SubTitle="Base64 Decode"
			Details=@(new List<string> {
			$"Convert a base64 encoded string into a readable string."
			}) />


<DnhSection>
	<form @onsubmit="OnSubmit">
		<DnhTextArea Label="Input" @bind-Value="_request" />
		<DnhFormButton>Decode</DnhFormButton>
	</form>
</DnhSection>


@if (_response is not null)
{
	<DnhSection Title="Result">

		<DnhResult>
			<p>@_response</p>
		</DnhResult>

	</DnhSection>
}


@code {
	private string? _request;
	private string? _response;

	private void OnSubmit()
	{
		if (!string.IsNullOrWhiteSpace(_request))
		{
			_response = Encoding.UTF8.GetString(Convert.FromBase64String(_request));
			StateHasChanged();
		}
	}
}