@page "/encoding/url/decode"
@using DotnetHelp.DevTools.Shared
@using System.Net

<PageTitle>Url Decode</PageTitle>

<DnhHeader Title="Encoding"
			SubTitle="Url Decode"
			Details=@(new List<string> {
			$"Decode a URL encoded string"
			}) />

<DnhSection>
	<form @onsubmit="OnSubmit">
		<DnhTextArea Label="Input" @bind-Value="_request" />
		<DnhFormButton>Decode</DnhFormButton>
	</form>
</DnhSection>


@if (_response is not null)
{
	<DnhSection Title="Result">

		<DnhResult>
			<p>@_response</p>
		</DnhResult>

	</DnhSection>
}


@code {
	private string? _request;
	private string? _response;

	private void OnSubmit()
	{
		if (!string.IsNullOrWhiteSpace(_request))
		{
			_response = WebUtility.UrlDecode(_request);
			StateHasChanged();
		}
	}
}