@page "/encoding/url/decode"
@inject IJSRuntime JSRuntime
@using DotnetHelp.DevTools.Shared
@using System.Net

<PageTitle>Url Decode</PageTitle>

<DnhHeader Title="Encoding"
			SubTitle="Url Decode"
			Details=@(new List<string> {
			$"Decode a URL encoded string"
			}) />

<DnhSection>
	<DnhForm OnSubmit="OnSubmit" Text="Decode">
		<DnhTextArea Label="Input" @bind-Value="_request" />
	</DnhForm>
</DnhSection>

@if (_response is not null)
{
	<DnhSection Title="Result">
		<DnhResult OnCopy="OnCopy">
			<p>@_response</p>
		</DnhResult>
	</DnhSection>
}

@code {
	private string? _request;
	private string? _response;

	private void OnSubmit()
	{
		if (!string.IsNullOrWhiteSpace(_request))
		{
			_response = WebUtility.UrlDecode(_request);
			StateHasChanged();
		}
	}

	private async Task OnCopy()
	{
		if (_response is not null)
		{
			await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", _response);
		}
	}
}