@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(30, 41, 59);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(148, 163, 184);
  border-radius: 5px;
}

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: rgb(148, 163, 184);
  }