@page "/base64"
@using DotnetHelp.DevTools.Shared
@inject ApiHttpClient Http
@implements IDisposable

<PageTitle>Base64</PageTitle>

<h1>Base64</h1>

@if (_response is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <p>@_response.Response</p>
}

@code {
    private TextApiResponse? _response;
    readonly CancellationTokenSource _disposalTokenSource = new();

    protected override async Task OnInitializedAsync()
    {
        _response = await Http.Base64Encode(new TextApiRequest("Hello world"), _disposalTokenSource.Token);
    }

    public void Dispose()
    {
        _disposalTokenSource.Cancel();
    }
}