@page "/"

<PageTitle>Home</PageTitle>

<header id="header" class="mb-10 md:flex md:items-start">
    <div class="flex-auto max-w-4xl">
        <p class="mb-4 text-sm leading-6 font-semibold text-sky-500 dark:text-sky-400">
            DotNetHelp
        </p>
        <h1 class="text-3xl sm:text-4xl font-extrabold text-slate-900 tracking-tight dark:text-slate-200">
            Developer Tools
        </h1>
        <p class="mt-4 text-lg text-slate-700 dark:text-slate-400">
            A collection of tools to help with the day to day of web development.
        </p>
    </div>
</header>