<button class="text-slate-700 dark:text-slate-400 hover:text-slate-800 dark:hover:text-slate-300 cursor-pointer" @onclick="OnClick">
<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
     stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
          d="M6 18L18 6M6 6l12 12"/>
</svg>
</button>

@code {
    [Parameter, EditorRequired]
    public required EventCallback OnClick { get; set; }
}