@foreach (var item in Items)
{
	<ul>
		<li class="mb-1">
			<DnhKvp Name="@item.Key" Value="@item.Value" />
		</li>
	</ul>
}

@code {
	[Parameter, EditorRequired]
	public required IReadOnlyCollection<KeyValuePair<string, string>> Items { get; set; }
}