<div class="not-prose relative bg-slate-50 rounded-xl dark:bg-slate-800/25">
	<div style="background-position:10px 10px" class="absolute inset-0 bg-grid-slate-100 [mask-image:linear-gradient(0deg,#fff,rgba(255,255,255,0.6))] dark:bg-grid-slate-700/25 dark:[mask-image:linear-gradient(0deg,rgba(255,255,255,0.1),rgba(255,255,255,0.5))]"></div>
	@if (OnDelete.HasDelegate)
	{
		<div class="absolute right-2 top-2 z-20">
			<button class="text-slate-700 dark:text-slate-400 hover:text-slate-800 dark:hover:text-slate-300 cursor-pointer" @onclick="OnDelete">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
					 stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
						  d="M6 18L18 6M6 6l12 12" />
				</svg>
			</button>
		</div>
	}
	@if (OnCopy.HasDelegate)
	{
		<div class="absolute right-3 z-20">
			<div class="relative flex -mr-2">
				<button class="@(_notifyCopy ? "text-sky-500" : "text-slate-500 hover:text-slate-400")" @onclick="OnClick">
					<svg fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" class="w-8 h-8"><path d="M13 10.75h-1.25a2 2 0 0 0-2 2v8.5a2 2 0 0 0 2 2h8.5a2 2 0 0 0 2-2v-8.5a2 2 0 0 0-2-2H19"></path><path d="M18 12.25h-4a1 1 0 0 1-1-1v-1.5a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1.5a1 1 0 0 1-1 1ZM13.75 16.25h4.5M13.75 19.25h4.5"></path></svg>
				</button>
				@if (_notifyCopy)
				{
					<div class="absolute bottom-full left-1/2 mb-3.5 pb-1 -translate-x-1/2 scale-100 translate-y-0 opacity-100">
						<div class="relative bg-sky-500 text-white font-mono text-[0.625rem] leading-6 font-medium px-1.5 rounded-lg">
							Copied
							<svg aria-hidden="true" width="16" height="6" viewBox="0 0 16 6" class="text-sky-500 absolute top-full left-1/2 -mt-px -ml-2">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M15 0H1V1.00366V1.00366V1.00371H1.01672C2.72058 1.0147 4.24225 2.74704 5.42685 4.72928C6.42941 6.40691 9.57154 6.4069 10.5741 4.72926C11.7587 2.74703 13.2803 1.0147 14.9841 1.00371H15V0Z" fill="currentColor"></path>
							</svg>
						</div>
					</div>
				}
			</div>
		</div>
	}
	<div class="relative rounded-xl overflow-auto p-8">
		<div>
			<div class="text-slate-900 dark:text-slate-200 text-wrap break-all">
				@ChildContent
			</div>
		</div>
	</div>
	<div class="absolute inset-0 pointer-events-none border border-black/5 rounded-xl dark:border-white/5"></div>
</div>

@code {

	private bool _notifyCopy = false;

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public EventCallback OnDelete { get; set; }

	[Parameter]
	public EventCallback OnCopy { get; set; }

	private async Task OnClick()
	{
		_notifyCopy = true;
		await OnCopy.InvokeAsync();
		_ = Task.Delay(1000)
			.ContinueWith(t =>
			{
				_notifyCopy = false;
				StateHasChanged();
			});
	}
}
