<section class="mb-4 relative">
	@if(Title is not null)
	{
		<span class="block text-gray-700 dark:text-gray-400 mb-2">@Title</span>
	}
	@ChildContent
</section>

@code {

	[Parameter]
	public string? Title { get; set; }

	[Parameter]
	public RenderFragment? ChildContent { get; set; }
}
