<label class="block mb-4">
	<span class="block text-gray-700 dark:text-gray-400 mb-2">
        @Label
    </span>
    <textarea 
        @oninput="OnValueChanged"
        value="@_value"
        required="@Required"
        class="w-full text-sm leading-6 text-slate-400 rounded-md ring-1 ring-slate-900/10 shadow-sm py-1.5 pl-2 pr-3 hover:ring-slate-300 dark:bg-slate-800 dark:highlight-white/5 dark:hover:bg-slate-700"
        rows="3" 
        placeholder="Enter some text." 
    />
</label>

@code {

    private string? _value;

    [Parameter]
    public required string Label { get; set; }

    [Parameter]
    public bool Required { get; set; } = false;

    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private async Task OnValueChanged(ChangeEventArgs e)
    {
        Value = e?.Value?.ToString();
        await ValueChanged.InvokeAsync(Value);
    }
}
