.box {
	border: solid 1px #dee2e6;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

	.box > span {
		display: block;
	}

	.box > .header {
		font-weight: bold;
		font-size: 1.5em;
	}

	.box > .sub-header {
		font-weight: bold;
		font-size: 1.2em;
	}

	.box > .detail > .key {
		font-weight: bold;
		font-style: italic;
	}

	.box > .body {
		background-color: #eeeeee;
		padding: 20px;
	}
